h1{
    color: #09a384;
    background-color:cornsilk;
    font-size: 30px;
    margin-left: 440px;
    margin-right: 435px;
} 
input{
    width: 50%;
    border-radius: 5px;
}
#id{
    margin-left: 500px;
    margin-right: 500px;
    
}
nav{
    margin-left: 460px;
    margin-right: 460px;
}
h3{
    color: #00b8a9;
    font-size: 20px;
    background-color: cornsilk;
}  
p{
    color: darkgoldenrod;
    font-size: 15px;
    background-color: cornsilk;
}
ul{
    color: darkgoldenrod;
    font-size: 15px;
    background-color: cornsilk;
}
a{
    color:forestgreen;
    font-size: 15px;
    border-radius: 5px;
    
}
.foto{
    margin-left: 550px;
    margin-right:  550px;
    background-color: cornsilk;
}

.hola{
    background-color: #00b8a9;
    color: black;
    padding: 10px 20px;
    display: inline-block;
}
.columna{
    background-color: #00b8a9;
    color: black;
    padding: 20px;
    width: 25%;
    margin: 15px;
    border-radius: 4px;
}
.Padre{
    display: flex;
    padding: 2px 100px;
    margin: 2px 50px;
   
}
button{
    background-color:#00b8a9;
    color: black;
    padding: 5px 30px;
    margin: 15px 1px;
    border-radius: 4px;
    width: 200px;
}
button:hover{
    background-color:gold;
}
button:active{
    background-color: green;
}